@using Svr.Core.Entities
@model Svr.Web.Models.DirNameViewModels.ItemViewModel
@{
    ViewData["Title"] = "Подробности " + Model.Name;
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>@Model</h4>
    @await Html.PartialAsync(partialViewName: $"_EditBackButton")
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedOnUtc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedOnUtc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedOnUtc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedOnUtc)
        </dd>
        <dt>@Html.DisplayNameFor(model => model.Dirs)</dt>
        <dd>
            <a asp-controller="Dirs" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-sm btn-primary">Добавить значение</a>
            <ul>
                @foreach (Dir dir in Model.Dirs)
                {
                    <li>
                        <a asp-controller="Dirs" asp-action="Details" asp-route-id="@dir.Id">@dir.Name</a>
                        @*@Html.RouteLink($"{district.Name} ({district.Description})", new { action = "Details", controller = "Districts", id = district.Id })*@
                    </li>
                }
            </ul>
        </dd>
        <dd>
            @await Html.PartialAsync(partialViewName: $"_EditDeleteBackButton")
        </dd>
    </dl>
</div>