@model Svr.Web.Models.DistrictsViewModels.IndexViewModel
@addTagHelper "*, Svr.Utils"

<div>
    <sort-header action="Index"
                 up="@Model.SortViewModel.Up"
                 current="@Model.SortViewModel.Current"
                 property="@Model.SortViewModel.NameSort"
                 search-string="@Model.FilterViewModel.SearchString"
                 current-filter-lord="@Model.FilterViewModel.SelectedLord">
        Имя
    </sort-header>
    <sort-header action="Index"
                 up="@Model.SortViewModel.Up"
                 current="@Model.SortViewModel.Current"
                 property="@Model.SortViewModel.CodeSort"
                 search-string="@Model.FilterViewModel.SearchString"
                 current-filter-lord="@Model.FilterViewModel.SelectedLord">
        Код
    </sort-header>
    <sort-header action="Index"
                 up="@Model.SortViewModel.Up"
                 current="@Model.SortViewModel.Current"
                 property="@Model.SortViewModel.DescriptionSort"
                 search-string="@Model.FilterViewModel.SearchString"
                 current-filter-lord="@Model.FilterViewModel.SelectedLord">
        Описание
    </sort-header>
    <sort-header action="Index"
                 up="@Model.SortViewModel.Up"
                 current="@Model.SortViewModel.Current"
                 property="@Model.SortViewModel.CreatedOnUtcSort"
                 search-string="@Model.FilterViewModel.SearchString"
                 current-filter-lord="@Model.FilterViewModel.SelectedLord">
        Дата создания
    </sort-header>
    <sort-header action="Index"
                 up="@Model.SortViewModel.Up"
                 current="@Model.SortViewModel.Current"
                 property="@Model.SortViewModel.UpdatedOnUtcSort"
                 search-string="@Model.FilterViewModel.SearchString"
                 current-filter-lord="@Model.FilterViewModel.SelectedLord">
        Дата изменения
    </sort-header>
    <sort-header action="Index"
                 up="@Model.SortViewModel.Up"
                 current="@Model.SortViewModel.Current"
                 property="@Model.SortViewModel.OwnerSort"
                 search-string="@Model.FilterViewModel.SearchString"
                 current-filter-lord="@Model.FilterViewModel.SelectedLord">
        Регион
    </sort-header>
</div>
