@model Svr.AD.Models.FileEntityViewModels.ItemViewModel

@{
    ViewData["Title"] = $"Подробности {Model.Name}";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>@Model</h4>
    @await Html.PartialAsync(partialViewName: $"_EditBackButton")
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Path)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Path)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayTextFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedOnUtc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedOnUtc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedOnUtc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedOnUtc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Claim)
        </dt>
        <dd>
            <a asp-controller="Claims" asp-action="Details" asp-route-id="@Model.ClaimId">@Model.Claim.Name</a>
        </dd>
        <dd>
            @await Html.PartialAsync(partialViewName: $"_EditDeleteBackButton")
        </dd>
    </dl>
</div>
