@model Svr.Web.Models.RoleViewModels.ChangeRoleViewModel

@{
    ViewData["Title"] = "Изменение ролей для пользователя " + @Model.UserEmail;
}

<h2>@ViewData["Title"]</h2>
<form asp-action="Edit" method="post" class="form-inline">
    @*<input type="hidden" name="userId" value="@Model.UserId" />*@
    @Html.HiddenFor(model => model.UserId)
    @foreach (var role in Model.AllRoles)
    {
        <div class="form-group">
            <input type="checkbox" name="roles" value="@role.Name" @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />
            @role.Name
        </div>
    }
    @if (User.IsInRole(Role.Administrator))
    {
        <div class="form-group">
            @Html.Label(null, "Регион по умолчанию", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.RegionId, ViewBag.Regions as SelectList, "Выберите регион", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RegionId, "", new { @class = "text-danger" })
            </div>
        </div>
    }
    else
    {
        @Html.HiddenFor(model => model.RegionId)
    }
    @if (User.IsInRole(Role.Administrator) || User.IsInRole(Role.AdminOPFR))
    {
        <div class="form-group">
            @Html.Label(null, "Район по умолчанию", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.DistrictId, ViewBag.Districts as SelectList, "Выберите район", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DistrictId, "", new { @class = "text-danger" })
            </div>
        </div>
    }
    else
    {
        @Html.HiddenFor(model => model.DistrictId)
    }
    <button type="submit" class="btn btn-sm btn-primary">Сохранить</button>
</form>
