@model Svr.AD.Models.FilterViewModel
<form method="get" class="form-inline">
    <div class="form-group">
        <label class="control-label">Поиск: </label>
        @Html.TextBox("searchString", Model.SearchString, htmlAttributes: new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label class="control-label">Дата с: </label>
        @Html.EditorFor(model => model.DateS, "dateS", new { htmlAttributes = new { @class = "form-control", onchange = @"form.submit();" } })
    </div>
    <div class="form-group">
        <label class="control-label">Дата по: </label>
        @Html.EditorFor(model => model.DatePo, "datePo", new { htmlAttributes = new { @class = "form-control", onchange = @"form.submit();" } })
    </div>
    @if (User.IsInRole(Role.Admin) || User.IsInRole(Role.Manager))
    {
        <div class="form-group">
            @if (User.IsInRole(Role.Admin))
            {
                <label class="control-label">Регион: </label>
                @Html.DropDownList("lord", Model.Lords, "Выберите регион", htmlAttributes: new { @class = "form-control", onchange = @"form.submit();" })
            }
            else
            {
                @Html.HiddenFor(model => model.SelectedLord)
            }
        </div>
        <div class="form-group">
            <label class="control-label">Район: </label>
            @Html.DropDownList("owner", Model.Owners, "Выберите район", htmlAttributes: new { @class = "form-control", onchange = @"form.submit();" })
        </div>

    }
    else
    {
        @Html.HiddenFor(model => model.SelectedLord)
        @Html.HiddenFor(model => model.SelectedOwner)
    }
    <div class="form-group">
        <label class="control-label">Категория: </label>
        @Html.DropDownList("category", Model.Сategores, "Выберите категорию споров", htmlAttributes: new { @class = "form-control", onchange = @"form.submit();" })
    </div>
    @*<div class="form-group">
            <label class="control-label">Группа исков: </label>
            @Html.DropDownList("groupClaim", Model.GroupClaims, "Выберите группу исков", htmlAttributes: new { @class = "form-control", onchange = @"form.submit();" })
        </div>
        <div class="form-group">
            <label class="control-label">Предмет иска: </label>
            @Html.DropDownList("subjectClaim", Model.SubjectClaims, "Выберите предмет иска", htmlAttributes: new { @class = "form-control", onchange = @"form.submit();" })
        </div>*@
    <input type="submit" value="Фильтр" class="btn btn-sm btn-primary" />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(m => m.ItemsCount)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.ItemsCount)
        </dd>
    </dl>
</form>