@model Svr.Web.Models.FileEntityViewModels.ItemViewModel

@{
    ViewData["Title"] = $"Удалить {Model.Name}";
}

<h2>@ViewData["Title"]</h2>

<h3>Вы уверены, что хотите удалить?</h3>
<div>
    <h4>@Model</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Path)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Path)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayTextFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedOnUtc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedOnUtc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedOnUtc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedOnUtc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Claim)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Claim.Code)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Name" />
        <input type="hidden" asp-for="Path" />
        <input type="hidden" asp-for="ClaimId" />
        <input type="submit" value="Удалить" class="btn btn-default" />
        <a asp-action="Index" asp-route-owner="@Model.ClaimId" class="btn btn-default">Назад</a>
    </form>
</div>
