@using Svr.Core.Entities
@model Svr.AD.Models.PerformersViewModels.ItemViewModel
@{
    ViewData["Title"] = $"Подробности {Model.Name}";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>@Model</h4>
    @await Html.PartialAsync(partialViewName: $"_EditBackButton")
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayTextFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedOnUtc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedOnUtc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedOnUtc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedOnUtc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd>
            <a asp-controller="Regions" asp-action="Details" asp-route-id="@Model.RegionId">@Model.Region.Name</a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DistrictPerformers)
        </dt>
        <dd>
            <ul>
                @foreach (DistrictPerformer item in Model.DistrictPerformers)
                {
                    <li>
                        <a asp-controller="Districts" asp-action="Details" asp-route-id="@item.DistrictId">@item.District.Name</a>
                    </li>
                }
            </ul>
        </dd>
        <dd>
            @await Html.PartialAsync(partialViewName: $"_EditDeleteBackButton")
        </dd>
    </dl>
</div>
